[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
aiohttp = "*"
pytz = "*"
brotli = "*"
cloudscraper = "*"
selenium = "*"
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
psycopg2-binary = "*"
fastapi = "*"
uvicorn = "*"
schedule = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
